<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Codeine text document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.binary-property-list</string>
				<string>com.apple.dashcode.css</string>
				<string>com.apple.dashcode.javascript</string>
				<string>com.apple.dashcode.json</string>
				<string>com.apple.dashcode.manifest</string>
				<string>com.apple.dt.document.ascii-property-list</string>
				<string>com.apple.dt.document.script-suite-property-list</string>
				<string>com.apple.dt.document.script-terminology-property-list</string>
				<string>com.apple.property-list</string>
				<string>com.apple.rez-source</string>
				<string>com.apple.scripting-definition</string>
				<string>com.apple.symbol-export</string>
				<string>com.apple.xcode.ada-source</string>
				<string>com.apple.xcode.bash-script</string>
				<string>com.apple.xcode.colortheme</string>
				<string>com.apple.xcode.commands</string>
				<string>com.apple.xcode.configsettings</string>
				<string>com.apple.xcode.csh-script</string>
				<string>com.apple.xcode.diff</string>
				<string>com.apple.xcode.fortran-source</string>
				<string>com.apple.xcode.glsl-source</string>
				<string>com.apple.xcode.ksh-script</string>
				<string>com.apple.xcode.lex-source</string>
				<string>com.apple.xcode.make-script</string>
				<string>com.apple.xcode.mig-source</string>
				<string>com.apple.xcode.pascal-source</string>
				<string>com.apple.xcode.strings-text</string>
				<string>com.apple.xcode.tcsh-script</string>
				<string>com.apple.xcode.yacc-source</string>
				<string>com.apple.xcode.zsh-script</string>
				<string>com.apple.xml-property-list</string>
				<string>com.xs-labs.codeine.actionscript-source</string>
				<string>com.xs-labs.codeine.erb-source</string>
				<string>com.xs-labs.codeine.ini-configuration</string>
				<string>com.xs-labs.codeine.javascript-source</string>
				<string>com.xs-labs.codeine.json-source</string>
				<string>com.xs-labs.codeine.jsp-source</string>
				<string>com.xs-labs.codeine.lasso-source</string>
				<string>com.xs-labs.codeine.lua-source</string>
				<string>com.xs-labs.codeine.setext-source</string>
				<string>com.xs-labs.codeine.sql-source</string>
				<string>com.xs-labs.codeine.tcl-source</string>
				<string>com.xs-labs.codeine.tex-source</string>
				<string>com.xs-labs.codeine.vbscript-source</string>
				<string>com.xs-labs.codeine.vectorscript-source</string>
				<string>com.xs-labs.codeine.verilog-hdl-source</string>
				<string>com.xs-labs.codeine.vhdl-source</string>
				<string>com.xs-labs.codeine.yaml-source</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-source</string>
				<string>com.sun.java-web-start</string>
				<string>net.daringfireball.markdown</string>
				<string>public.assembly-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-source</string>
				<string>public.csh-script</string>
				<string>public.lex-source</string>
				<string>public.mig-source</string>
				<string>public.nasm-assembly-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.objective-c-source</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.plain-text</string>
				<string>public.precompiled-c-header</string>
				<string>public.precompiled-c-plus-plus-header</string>
				<string>public.python-script</string>
				<string>public.rtf</string>
				<string>public.ruby-script</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.source-code</string>
				<string>public.text</string>
				<string>public.utf16-external-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Text file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Application.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.xs-labs.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 XS-Labs. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>CEMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://www.xs-labs.com/downloads/Codeine/</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.applescript.object</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Codeine Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.document-object</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.xs-labs.codeine.document-object</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Codeine Text Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.textdocument-object</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ActionScript source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.actionscript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>as</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>INI configuration file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.ini-configuration</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cfg</string>
					<string>ini</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSON source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.json-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSP source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.jsp-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jsp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JavaScript source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.javascript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>js</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lasso source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.lasso-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lasso</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lua source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.lua-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lua</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>text</string>
					<string>mark</string>
					<string>markdown</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Embedded Ruby source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.erb-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>erb</string>
					<string>rhtml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SQL source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.sql-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mssql</string>
					<string>mysql</string>
					<string>pgsql</string>
					<string>pls</string>
					<string>sql</string>
					<string>tql</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Setext source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.setext-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>etx</string>
					<string>stx</string>
					<string>setext</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tcl source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.tcl-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tcl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TeX source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.tex-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tex</string>
					<string>latex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VBScript source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.vbscript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vbs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VHDL source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.vhdl-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vhd</string>
					<string>vhdl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Verilog HDL source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.verilog-hdl-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>v</string>
					<string>vl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VectorScript source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.vectorscript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vs</string>
					<string>vss</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YAML source file</string>
			<key>UTTypeIconFile</key>
			<string>CodeineTextDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.xs-labs.codeine.yaml-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>yml</string>
					<string>yaml</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
