<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowInvisibles</key>
	<false/>
	<key>ShowSpaces</key>
	<true/>
	<key>AutoExpandTabs</key>
	<true/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>AutoIndent</key>
	<true/>
	<key>SoftWrap</key>
	<false/>
	<key>FontName</key>
	<string>Menlo</string>
	<key>FontSize</key>
	<integer>11</integer>
	<key>ShowLineNumbers</key>
	<true/>
	<key>ShowPageGuide</key>
	<false/>
	<key>PageGuideColumn</key>
	<integer>80</integer>
	<key>ShowTabStops</key>
	<false/>
	<key>HighlightCurrentLine</key>
	<true/>
	<key>SuggestWhileTyping</key>
	<true/>
	<key>SuggestWithEscape</key>
	<true/>
	<key>SuggestDelay</key>
	<real>1.5</real>
	<key>IndentSoloBrace</key>
	<true/>
	<key>IndentSoloBracket</key>
	<true/>
	<key>IndentSoloParenthesis</key>
	<true/>
	<key>IndentAfterBrace</key>
	<true/>
	<key>IndentAfterBracket</key>
	<true/>
	<key>IndentAfterParenthesis</key>
	<true/>
	<key>InsertClosingBrace</key>
	<true/>
	<key>InsertClosingBracket</key>
	<true/>
	<key>InsertClosingParenteshis</key>
	<true/>
	<key>FirstLaunch</key>
	<true/>
	<key>TextEncoding</key>
	<integer>0</integer>
	<key>LineEndings</key>
	<integer>1</integer>
	<key>DefaultLanguage</key>
	<integer>1</integer>
	<key>DefaultLicense</key>
	<string>Closed Source</string>
	<key>UserName</key>
	<string></string>
	<key>UserEmail</key>
	<string></string>
	<key>TreatWarningsAsErrors</key>
	<true/>
	<key>WarningFlags</key>
	<dict/>
	<key>WarningFlagsPresetStrict</key>
	<dict>
		<key>-Wabi</key>
		<true/>
		<key>-Waddress</key>
		<true/>
		<key>-Waddress-of-temporary</key>
		<true/>
		<key>-Waggregate-return</key>
		<true/>
		<key>-Wall</key>
		<true/>
		<key>-Wambiguous-member-template</key>
		<true/>
		<key>-Warc</key>
		<true/>
		<key>-Warc-abi</key>
		<true/>
		<key>-Warc-non-pod-memaccess</key>
		<true/>
		<key>-Warc-retain-cycles</key>
		<true/>
		<key>-Warc-unsafe-retained-assign</key>
		<true/>
		<key>-Watomic-properties</key>
		<true/>
		<key>-Wattributes</key>
		<true/>
		<key>-Wavailability</key>
		<true/>
		<key>-Wbad-function-cast</key>
		<true/>
		<key>-Wbind-to-temporary-copy</key>
		<true/>
		<key>-Wbitwise-op-parentheses</key>
		<true/>
		<key>-Wbool-conversions</key>
		<true/>
		<key>-Wbuiltin-macro-redefined</key>
		<true/>
		<key>-Wc++-compat</key>
		<true/>
		<key>-Wc++0x-compat</key>
		<true/>
		<key>-Wc++0x-extensions</key>
		<true/>
		<key>-Wcast-align</key>
		<true/>
		<key>-Wcast-qual</key>
		<true/>
		<key>-Wchar-align</key>
		<true/>
		<key>-Wchar-subscripts</key>
		<true/>
		<key>-Wcomment</key>
		<true/>
		<key>-Wcomments</key>
		<true/>
		<key>-Wconditional-uninitialized</key>
		<true/>
		<key>-Wconversion</key>
		<true/>
		<key>-Wctor-dtor-privacy</key>
		<true/>
		<key>-Wcustom-atomic-properties</key>
		<true/>
		<key>-Wdeclaration-after-statement</key>
		<true/>
		<key>-Wdefault-arg-special-member</key>
		<true/>
		<key>-Wdelegating-ctor-cycles</key>
		<true/>
		<key>-Wdelete-non-virtual-dtor</key>
		<true/>
		<key>-Wdeprecated</key>
		<true/>
		<key>-Wdeprecated-declarations</key>
		<true/>
		<key>-Wdeprecated-implementations</key>
		<true/>
		<key>-Wdeprecated-writable-strings</key>
		<true/>
		<key>-Wdisabled-optimization</key>
		<true/>
		<key>-Wdiscard-qual</key>
		<true/>
		<key>-Wdiv-by-zero</key>
		<true/>
		<key>-Wduplicate-method-arg</key>
		<true/>
		<key>-Weffc++</key>
		<true/>
		<key>-Wempty-body</key>
		<true/>
		<key>-Wendif-labels</key>
		<true/>
		<key>-Wexit-time-destructors</key>
		<true/>
		<key>-Wextra</key>
		<true/>
		<key>-Wextra-tokens</key>
		<true/>
		<key>-Wformat</key>
		<true/>
		<key>-Wformat-extra-args</key>
		<true/>
		<key>-Wformat-nonliteral</key>
		<true/>
		<key>-Wformat-zero-length</key>
		<true/>
		<key>-Wformat=2</key>
		<true/>
		<key>-Wfour-char-constants</key>
		<true/>
		<key>-Wglobal-constructors</key>
		<true/>
		<key>-Wgnu</key>
		<true/>
		<key>-Wgnu-designator</key>
		<true/>
		<key>-Wheader-hygiene</key>
		<true/>
		<key>-Widiomatic-parentheses</key>
		<true/>
		<key>-Wignored-qualifiers</key>
		<true/>
		<key>-Wimplicit</key>
		<true/>
		<key>-Wimplicit-atomic-properties</key>
		<true/>
		<key>-Wimplicit-function-declaration</key>
		<true/>
		<key>-Wimplicit-int</key>
		<true/>
		<key>-Wimport</key>
		<true/>
		<key>-Wincompatible-pointer-types</key>
		<true/>
		<key>-Winit-self</key>
		<true/>
		<key>-Winitializer-overrides</key>
		<true/>
		<key>-Winline</key>
		<true/>
		<key>-Wint-to-pointer-cast</key>
		<true/>
		<key>-Winvalid-offsetof</key>
		<true/>
		<key>-Winvalid-pch</key>
		<true/>
		<key>-Wlarge-by-value-copy</key>
		<true/>
		<key>-Wliteral-range</key>
		<true/>
		<key>-Wlocal-type-template-args</key>
		<true/>
		<key>-Wlogical-op-parentheses</key>
		<true/>
		<key>-Wlong-long</key>
		<true/>
		<key>-Wmain</key>
		<true/>
		<key>-Wmicrosoft</key>
		<true/>
		<key>-Wmismatched-tags</key>
		<true/>
		<key>-Wmissing-braces</key>
		<true/>
		<key>-Wmissing-declarations</key>
		<true/>
		<key>-Wmissing-field-initializers</key>
		<true/>
		<key>-Wmissing-format-attribute</key>
		<true/>
		<key>-Wmissing-include-dirs</key>
		<true/>
		<key>-Wmissing-noreturn</key>
		<true/>
		<key>-Wmost</key>
		<true/>
		<key>-Wmultichar</key>
		<true/>
		<key>-Wnested-externs</key>
		<true/>
		<key>-Wnewline-eof</key>
		<true/>
		<key>-Wnon-gcc</key>
		<true/>
		<key>-Wnon-virtual-dtor</key>
		<true/>
		<key>-Wnonfragile-abi2</key>
		<true/>
		<key>-Wnonnull</key>
		<true/>
		<key>-Wnonportable-cfstrings</key>
		<true/>
		<key>-Wnull-dereference</key>
		<true/>
		<key>-Wobjc-nonunified-exceptions</key>
		<true/>
		<key>-Wold-style-cast</key>
		<true/>
		<key>-Wold-style-definition</key>
		<true/>
		<key>-Wout-of-line-declaration</key>
		<true/>
		<key>-Woverflow</key>
		<true/>
		<key>-Woverlength-strings</key>
		<true/>
		<key>-Woverloaded-virtual</key>
		<true/>
		<key>-Wpacked</key>
		<true/>
		<key>-Wpadded</key>
		<true/>
		<key>-Wparentheses</key>
		<true/>
		<key>-Wpointer-arith</key>
		<true/>
		<key>-Wpointer-to-int-cast</key>
		<true/>
		<key>-Wprotocol</key>
		<true/>
		<key>-Wreadonly-setter-attrs</key>
		<true/>
		<key>-Wredundant-decls</key>
		<true/>
		<key>-Wreorder</key>
		<true/>
		<key>-Wreturn-type</key>
		<true/>
		<key>-Wselector</key>
		<true/>
		<key>-Wself-assign</key>
		<true/>
		<key>-Wsemicolon-before-method-body</key>
		<true/>
		<key>-Wsequence-point</key>
		<true/>
		<key>-Wshadow</key>
		<true/>
		<key>-Wshorten-64-to-32</key>
		<true/>
		<key>-Wsign-compare</key>
		<true/>
		<key>-Wsign-promo</key>
		<true/>
		<key>-Wsizeof-array-argument</key>
		<true/>
		<key>-Wstack-protector</key>
		<true/>
		<key>-Wstrict-aliasing</key>
		<true/>
		<key>-Wstrict-overflow</key>
		<true/>
		<key>-Wstrict-prototypes</key>
		<true/>
		<key>-Wstrict-selector-match</key>
		<true/>
		<key>-Wsuper-class-method-mismatch</key>
		<true/>
		<key>-Wswitch</key>
		<true/>
		<key>-Wswitch-default</key>
		<true/>
		<key>-Wswitch-enum</key>
		<true/>
		<key>-Wsynth</key>
		<true/>
		<key>-Wtautological-compare</key>
		<true/>
		<key>-Wtrigraphs</key>
		<true/>
		<key>-Wtype-limits</key>
		<true/>
		<key>-Wundeclared-selector</key>
		<true/>
		<key>-Wuninitialized</key>
		<true/>
		<key>-Wunknown-pragmas</key>
		<true/>
		<key>-Wunnamed-type-template-args</key>
		<true/>
		<key>-Wunneeded-internal-declaration</key>
		<true/>
		<key>-Wunneeded-member-function</key>
		<true/>
		<key>-Wunused</key>
		<true/>
		<key>-Wunused-argument</key>
		<true/>
		<key>-Wunused-exception-parameter</key>
		<true/>
		<key>-Wunused-function</key>
		<true/>
		<key>-Wunused-label</key>
		<true/>
		<key>-Wunused-member-function</key>
		<true/>
		<key>-Wunused-parameter</key>
		<true/>
		<key>-Wunused-value</key>
		<true/>
		<key>-Wunused-variable</key>
		<true/>
		<key>-Wused-but-marked-unused</key>
		<true/>
		<key>-Wvariadic-macros</key>
		<true/>
		<key>-Wvector-conversions</key>
		<true/>
		<key>-Wvla</key>
		<true/>
		<key>-Wvolatile-register-var</key>
		<true/>
		<key>-Wwrite-strings</key>
		<true/>
	</dict>
	<key>WarningFlagsPresetNormal</key>
	<dict>
		<key>-Wabi</key>
		<true/>
		<key>-Waddress</key>
		<true/>
		<key>-Waddress-of-temporary</key>
		<true/>
		<key>-Waggregate-return</key>
		<true/>
		<key>-Wall</key>
		<true/>
		<key>-Wambiguous-member-template</key>
		<true/>
		<key>-Warc</key>
		<true/>
		<key>-Warc-abi</key>
		<true/>
		<key>-Warc-non-pod-memaccess</key>
		<true/>
		<key>-Warc-retain-cycles</key>
		<true/>
		<key>-Warc-unsafe-retained-assign</key>
		<true/>
		<key>-Watomic-properties</key>
		<true/>
		<key>-Wattributes</key>
		<true/>
		<key>-Wavailability</key>
		<true/>
		<key>-Wbad-function-cast</key>
		<true/>
		<key>-Wbind-to-temporary-copy</key>
		<true/>
		<key>-Wbitwise-op-parentheses</key>
		<true/>
		<key>-Wbool-conversions</key>
		<true/>
		<key>-Wbuiltin-macro-redefined</key>
		<true/>
		<key>-Wc++-compat</key>
		<true/>
		<key>-Wc++0x-compat</key>
		<true/>
		<key>-Wc++0x-extensions</key>
		<true/>
		<key>-Wcast-align</key>
		<true/>
		<key>-Wcast-qual</key>
		<true/>
		<key>-Wchar-align</key>
		<true/>
		<key>-Wchar-subscripts</key>
		<true/>
		<key>-Wcomment</key>
		<true/>
		<key>-Wcomments</key>
		<true/>
		<key>-Wconditional-uninitialized</key>
		<true/>
		<key>-Wconversion</key>
		<true/>
		<key>-Wctor-dtor-privacy</key>
		<true/>
		<key>-Wcustom-atomic-properties</key>
		<true/>
		<key>-Wdeclaration-after-statement</key>
		<true/>
		<key>-Wdefault-arg-special-member</key>
		<true/>
		<key>-Wdelegating-ctor-cycles</key>
		<true/>
		<key>-Wdelete-non-virtual-dtor</key>
		<true/>
		<key>-Wdeprecated</key>
		<true/>
		<key>-Wdeprecated-declarations</key>
		<true/>
		<key>-Wdeprecated-implementations</key>
		<true/>
		<key>-Wdeprecated-writable-strings</key>
		<true/>
		<key>-Wdisabled-optimization</key>
		<true/>
		<key>-Wdiscard-qual</key>
		<true/>
		<key>-Wdiv-by-zero</key>
		<true/>
		<key>-Wduplicate-method-arg</key>
		<true/>
		<key>-Weffc++</key>
		<true/>
		<key>-Wempty-body</key>
		<true/>
		<key>-Wendif-labels</key>
		<true/>
		<key>-Wexit-time-destructors</key>
		<true/>
		<key>-Wextra</key>
		<true/>
		<key>-Wextra-tokens</key>
		<true/>
		<key>-Wformat</key>
		<true/>
		<key>-Wformat-extra-args</key>
		<true/>
		<key>-Wformat-nonliteral</key>
		<true/>
		<key>-Wformat-zero-length</key>
		<true/>
		<key>-Wformat=2</key>
		<true/>
		<key>-Wfour-char-constants</key>
		<true/>
		<key>-Wglobal-constructors</key>
		<true/>
		<key>-Wgnu</key>
		<true/>
		<key>-Wgnu-designator</key>
		<true/>
		<key>-Wheader-hygiene</key>
		<true/>
		<key>-Widiomatic-parentheses</key>
		<true/>
		<key>-Wignored-qualifiers</key>
		<true/>
		<key>-Wimplicit</key>
		<true/>
		<key>-Wimplicit-atomic-properties</key>
		<true/>
		<key>-Wimplicit-function-declaration</key>
		<true/>
		<key>-Wimplicit-int</key>
		<true/>
		<key>-Wimport</key>
		<true/>
		<key>-Wincompatible-pointer-types</key>
		<true/>
		<key>-Winit-self</key>
		<true/>
		<key>-Winitializer-overrides</key>
		<true/>
		<key>-Winline</key>
		<true/>
		<key>-Wint-to-pointer-cast</key>
		<true/>
		<key>-Winvalid-offsetof</key>
		<true/>
		<key>-Winvalid-pch</key>
		<true/>
		<key>-Wlarge-by-value-copy</key>
		<true/>
		<key>-Wliteral-range</key>
		<true/>
		<key>-Wlocal-type-template-args</key>
		<true/>
		<key>-Wlogical-op-parentheses</key>
		<true/>
		<key>-Wlong-long</key>
		<true/>
		<key>-Wmain</key>
		<true/>
		<key>-Wmicrosoft</key>
		<true/>
		<key>-Wmismatched-tags</key>
		<true/>
		<key>-Wmissing-braces</key>
		<true/>
		<key>-Wmissing-declarations</key>
		<true/>
		<key>-Wmissing-field-initializers</key>
		<true/>
		<key>-Wmissing-format-attribute</key>
		<true/>
		<key>-Wmissing-include-dirs</key>
		<true/>
		<key>-Wmissing-noreturn</key>
		<true/>
		<key>-Wmost</key>
		<true/>
		<key>-Wmultichar</key>
		<true/>
		<key>-Wnested-externs</key>
		<true/>
		<key>-Wnewline-eof</key>
		<true/>
		<key>-Wnon-gcc</key>
		<true/>
		<key>-Wnon-virtual-dtor</key>
		<true/>
		<key>-Wnonfragile-abi2</key>
		<true/>
		<key>-Wnonnull</key>
		<true/>
		<key>-Wnonportable-cfstrings</key>
		<true/>
		<key>-Wnull-dereference</key>
		<true/>
		<key>-Wobjc-nonunified-exceptions</key>
		<true/>
		<key>-Wold-style-cast</key>
		<true/>
		<key>-Wold-style-definition</key>
		<true/>
		<key>-Wout-of-line-declaration</key>
		<true/>
		<key>-Woverflow</key>
		<true/>
		<key>-Woverlength-strings</key>
		<true/>
		<key>-Woverloaded-virtual</key>
		<true/>
		<key>-Wpacked</key>
		<true/>
		<key>-Wpadded</key>
		<true/>
		<key>-Wparentheses</key>
		<true/>
		<key>-Wpointer-arith</key>
		<true/>
		<key>-Wpointer-to-int-cast</key>
		<true/>
		<key>-Wprotocol</key>
		<true/>
		<key>-Wreadonly-setter-attrs</key>
		<true/>
		<key>-Wredundant-decls</key>
		<true/>
		<key>-Wreorder</key>
		<true/>
		<key>-Wreturn-type</key>
		<true/>
		<key>-Wselector</key>
		<true/>
		<key>-Wself-assign</key>
		<true/>
		<key>-Wsemicolon-before-method-body</key>
		<true/>
		<key>-Wsequence-point</key>
		<true/>
		<key>-Wshadow</key>
		<true/>
		<key>-Wshorten-64-to-32</key>
		<true/>
		<key>-Wsign-compare</key>
		<true/>
		<key>-Wsign-promo</key>
		<true/>
		<key>-Wsizeof-array-argument</key>
		<true/>
		<key>-Wstack-protector</key>
		<true/>
		<key>-Wstrict-aliasing</key>
		<true/>
		<key>-Wstrict-overflow</key>
		<true/>
		<key>-Wstrict-prototypes</key>
		<true/>
		<key>-Wstrict-selector-match</key>
		<true/>
		<key>-Wsuper-class-method-mismatch</key>
		<true/>
		<key>-Wswitch</key>
		<true/>
		<key>-Wswitch-default</key>
		<true/>
		<key>-Wswitch-enum</key>
		<true/>
		<key>-Wsynth</key>
		<true/>
		<key>-Wtautological-compare</key>
		<true/>
		<key>-Wtrigraphs</key>
		<true/>
		<key>-Wtype-limits</key>
		<true/>
		<key>-Wundeclared-selector</key>
		<true/>
		<key>-Wuninitialized</key>
		<true/>
		<key>-Wunknown-pragmas</key>
		<true/>
		<key>-Wunnamed-type-template-args</key>
		<true/>
		<key>-Wunneeded-internal-declaration</key>
		<true/>
		<key>-Wunneeded-member-function</key>
		<true/>
		<key>-Wunused</key>
		<true/>
		<key>-Wunused-argument</key>
		<true/>
		<key>-Wunused-exception-parameter</key>
		<true/>
		<key>-Wunused-function</key>
		<true/>
		<key>-Wunused-label</key>
		<true/>
		<key>-Wunused-member-function</key>
		<true/>
		<key>-Wunused-parameter</key>
		<true/>
		<key>-Wunused-value</key>
		<true/>
		<key>-Wunused-variable</key>
		<true/>
		<key>-Wused-but-marked-unused</key>
		<true/>
		<key>-Wvariadic-macros</key>
		<true/>
		<key>-Wvector-conversions</key>
		<true/>
		<key>-Wvla</key>
		<true/>
		<key>-Wvolatile-register-var</key>
		<true/>
		<key>-Wwrite-strings</key>
		<true/>
	</dict>
	<key>ObjCFrameworks</key>
	<array>
		<string>/System/Library/Frameworks/Foundation.framework</string>
	</array>
	<key>FileTypes</key>
	<dict>
		<key>c</key>
		<integer>1</integer>
		<key>cpp</key>
		<integer>2</integer>
		<key>m</key>
		<integer>3</integer>
		<key>mm</key>
		<integer>4</integer>
		<key>h</key>
		<integer>5</integer>
		<key>hpp</key>
		<integer>5</integer>
		<key>pch</key>
		<integer>5</integer>
	</dict>
	<key>Bookmarks</key>
	<array/>
	<key>LinkerObjects</key>
	<array>
		<dict>
			<key>Path</key>
			<string>/System/Library/Frameworks/Foundation.framework</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Language</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/Frameworks/Foundation.framework</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Language</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/Frameworks/CoreFoundation.framework</string>
			<key>Type</key>
			<integer>0</integer>
			<key>Language</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ObjCLoadAll</key>
	<true/>
	<key>OptimizationLevel</key>
	<integer>4</integer>
	<key>FileBrowserHidden</key>
	<false/>
	<key>DebugAreaHidden</key>
	<true/>
	<key>FileBrowserWidth</key>
	<integer>250</integer>
	<key>DebugAreaHeight</key>
	<integer>200</integer>
	<key>DebugAreaSelectedIndex</key>
	<integer>0</integer>
	<key>FullScreenStyle</key>
	<integer>0</integer>
</dict>
</plist>
