<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Foreground</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>0</integer>
	</dict>
	<key>Background</key>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>B</key>
		<integer>255</integer>
	</dict>
	<key>Selection</key>
	<dict>
		<key>R</key>
		<integer>191</integer>
		<key>G</key>
		<integer>216</integer>
		<key>B</key>
		<integer>250</integer>
	</dict>
	<key>CurrentLine</key>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>B</key>
		<integer>204</integer>
	</dict>
	<key>Invisible</key>
	<dict>
		<key>R</key>
		<integer>127</integer>
		<key>G</key>
		<integer>127</integer>
		<key>B</key>
		<integer>127</integer>
	</dict>
	<key>Keyword</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>204</integer>
	</dict>
	<key>Preprocessor</key>
	<dict>
		<key>R</key>
		<integer>153</integer>
		<key>G</key>
		<integer>51</integer>
		<key>B</key>
		<integer>0</integer>
	</dict>
	<key>Predefined</key>
	<dict>
		<key>R</key>
		<integer>92</integer>
		<key>G</key>
		<integer>38</integer>
		<key>B</key>
		<integer>153</integer>
	</dict>
	<key>Project</key>
	<dict>
		<key>R</key>
		<integer>17</integer>
		<key>G</key>
		<integer>129</integer>
		<key>B</key>
		<integer>183</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>R</key>
		<integer>51</integer>
		<key>G</key>
		<integer>102</integer>
		<key>B</key>
		<integer>153</integer>
	</dict>
	<key>String</key>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>51</integer>
		<key>B</key>
		<integer>153</integer>
	</dict>
	<key>Comment</key>
	<dict>
		<key>R</key>
		<integer>85</integer>
		<key>G</key>
		<integer>85</integer>
		<key>B</key>
		<integer>85</integer>
	</dict>
</dict>
</plist>
