<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Foreground</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>0</integer>
	</dict>
	<key>Background</key>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>252</integer>
		<key>B</key>
		<integer>229</integer>
	</dict>
	<key>Selection</key>
	<dict>
		<key>R</key>
		<integer>249</integer>
		<key>G</key>
		<integer>223</integer>
		<key>B</key>
		<integer>156</integer>
	</dict>
	<key>CurrentLine</key>
	<dict>
		<key>R</key>
		<integer>245</integer>
		<key>G</key>
		<integer>242</integer>
		<key>B</key>
		<integer>219</integer>
	</dict>
	<key>Invisible</key>
	<dict>
		<key>R</key>
		<integer>127</integer>
		<key>G</key>
		<integer>127</integer>
		<key>B</key>
		<integer>127</integer>
	</dict>
	<key>Keyword</key>
	<dict>
		<key>R</key>
		<integer>41</integer>
		<key>G</key>
		<integer>66</integer>
		<key>B</key>
		<integer>119</integer>
	</dict>
	<key>Preprocessor</key>
	<dict>
		<key>R</key>
		<integer>100</integer>
		<key>G</key>
		<integer>100</integer>
		<key>B</key>
		<integer>133</integer>
	</dict>
	<key>Predefined</key>
	<dict>
		<key>R</key>
		<integer>180</integer>
		<key>G</key>
		<integer>69</integer>
		<key>B</key>
		<integer>0</integer>
	</dict>
	<key>Project</key>
	<dict>
		<key>R</key>
		<integer>180</integer>
		<key>G</key>
		<integer>69</integer>
		<key>B</key>
		<integer>0</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>R</key>
		<integer>41</integer>
		<key>G</key>
		<integer>66</integer>
		<key>B</key>
		<integer>119</integer>
	</dict>
	<key>String</key>
	<dict>
		<key>R</key>
		<integer>223</integer>
		<key>G</key>
		<integer>7</integer>
		<key>B</key>
		<integer>0</integer>
	</dict>
	<key>Comment</key>
	<dict>
		<key>R</key>
		<integer>195</integer>
		<key>G</key>
		<integer>116</integer>
		<key>B</key>
		<integer>28</integer>
	</dict>
</dict>
</plist>
